<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment = "sidebarFragment">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">DataLake</span>
        </a>
        <!-- Sidebar -->
        <th:block th:replace="~{fragments/sidebar_menu}"></th:block>
        <!-- /.Sidebar -->
    </aside>
</th:block>
</html>
