<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <input th:type="hidden" th:id="host" th:value="${host}">
    <input th:type="hidden" th:id="msrl" th:value="${msrl}">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Roles</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Roles</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <!-- Main content -->
        <section class="content">
            <div class="card-header">
                <a class="btn btn-app" href="roles/regist">
                    <i class="fas fa-edit"></i> Regist
                </a>
            </div>
            <div class="card-body">
                <div id="roles-list"></div>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- Search form page common -->
    <th:block th:replace="~{fragments/search_script}"></th:block>
    <!-- /Search form page common -->
    <script src="../../plugins/jsgrid/jsgrid.min.js"></script>

    <script src="../../js/manage/roles.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            roles.init();
        });
    </script>
    <script src="../../js/manage/role_data.js"></script>
    </body>
</th:block>
</html>
