<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <input th:type="hidden" th:id="host" th:value="${host}">
    <input th:type="hidden" th:id="msrl" th:value="${msrl}">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Roles</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Roles</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link" href="#settings"
                                                            data-toggle="tab active">Role 추가</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="settings">
                                        <form action="../../index.html" method="post">
                                            <!-- select -->
                                            <label>Role Name</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="role name" id="role" th:value="${role}">
                                            </div>
                                            <label>설명</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="discription" id="discription" th:value="${discription}">
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-4">
                                                    <button type="button" th:id="submit" onclick="roles.submit()" class="btn btn-primary btn-block">Submit
                                                    </button>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- Search form page common -->
    <th:block th:replace="~{fragments/search_script}"></th:block>
    <!-- /Search form page common -->
    <script src="../../js/manage/roles.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            roles.init();
        });
    </script>
    </body>
</th:block>
</html>
