<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <input th:type="hidden" th:id="host" th:value="${host}">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>강좌정보조회</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">강좌정보</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form th:action="lecture" th:id="search-form" th:method="post">
                    <input th:type="hidden" th:id="columns" th:name="columns" th:value="${columns}">
                    <input th:type="hidden" th:id="query-id" th:name="query-id" th:value="${queryId}">
                    <input th:type="hidden" th:id="output-bucket" th:name="output-bucket"
                           th:value="${outputBucket}">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>조회컬럼선택</label>
                                <select class="duallistbox" multiple="multiple" th:id="select-columns"
                                        th:name="select-columns">
                                    <option th:each="i : ${allColumns}" th:value="${i}" th:text="${i}"
                                            th:selected="${columns != null && #arrays.contains(columns, i)}"
                                    ></option>
                                </select>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Date Field:</label>
                                        <select class="select2" multiple="multiple" data-placeholder="Any"
                                                style="width: 100%;" th:id="date-field"
                                                th:name="date-field">
                                            <option th:value="reg_dt" th:selected="${dateRange.getDateField() == 'reg_dt'}">reg_dt</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>From date:</label>
                                        <div class="input-group date" id="from-date" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#from-date" th:value="${dateRange.getFromDate()}" th:name="from-date" />
                                            <div class="input-group-append" data-target="#from-date"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>To date:</label>
                                        <div class="input-group date" id="to-date" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#to-date" th:value="${dateRange.getToDate()}" th:name="to-date"/>
                                            <div class="input-group-append" data-target="#to-date"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Result Type:</label>
                                        <select class="select2" multiple="multiple" data-placeholder="Any"
                                                style="width: 100%;">
                                            <option th:value="csv">csv</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Sort Order:</label>
                                        <select class="select2" style="width: 100%;" th:id="order" th:name="order">
                                            <option value="" th:text="ASC" th:selected="${order == ''}"></option>
                                            <option selected value="-" th:text="DESC"
                                                    th:selected="${order == '-'}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Order By:</label>
                                        <select class="select2" style="width: 100%;" th:id="order-field"
                                                th:name="order-field">
                                            <option th:value="reg_dt" th:text="reg_dt"
                                                    th:selected="${orderField == 'reg_dt'}"></option>
                                            <option th:value="lecture_id" th:text="lecture_id"
                                                    th:selected="${orderField == 'lecture_id'}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>리스트 사이즈: </label>
                                <input id="limit" type="text" name="limit" th:value="${limit}">
                            </div>
                            <div class="form-group">
                                <label>검색어: </label>
                                <div class="input-group input-group-lg">
                                    <input type="search" class="form-control form-control-lg"
                                           placeholder="검색어를 입력해 주세요." th:id="search-word" th:name="search-word"
                                           th:value="${searchWord}">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-lg btn-default"
                                                onclick="lecture.search();">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </form>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content" th:id="result-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">검색결과</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a class="btn btn-app" onclick="lecture.s3.down()">
                                    <i class="fas fa-save"></i> 쿼리결과 다운로드 CSV
                                </a>
                                <a class="btn btn-app" style="display:none;">
                                    <i class="fas fa-pause" onclick="lecture.s3.stop()"></i> 다운로드링크 사용중지
                                </a>
                                <table th:id="result-table" class="table table-hover"
                                       th:if="${lists == null}">
                                    <thead>
                                    <tr style="display:none;">
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>데이터가 존재하지 않습니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table th:id="result-table" class="table table-bordered table-hover"
                                       th:unless="${lists == null}">
                                    <thead>
                                    <tr th:each="rows, index : ${lists}" th:if="${index.index < 1}">
                                        <th th:each="row : ${rows}" th:text="${row}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rows, index : ${lists}" th:unless="${index.index < 1}">
                                        <td th:each="row : ${rows}" th:text="${row}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- ./wrapper -->
    <!-- Search form page common -->
    <th:block th:replace="~{fragments/search_script}"></th:block>
    <!-- /Search form page common -->

    <!-- Page specific script -->
    <script src="../../js/lecture.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            lecture.init();
            $('#date-range').daterangepicker({
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });


            $('#from-date').datetimepicker({

                    format: 'YYYY-MM-DD'

            });
            $('#to-date').datetimepicker({

                    format: 'YYYY-MM-DD'

            });

            $('#limit').ionRangeSlider({
                min: 1,
                max: 10000,
                type: 'single',
                step: 50,
                postfix: '',
                prettify: false,
                hasGrid: true
            });
            $('.select2').select2();
            $('.duallistbox').bootstrapDualListbox();
            $("#result-table").DataTable({
                "responsive": true,
                "lengthChange": false,
                "searching": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
</th:block>
</html>
