<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css" th:class="css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="/plugins/jsgrid/jsgrid-theme.min.css">
</th:block>
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper" layout:fragment="content">
    <input th:type="hidden" th:id="api" th:value="${api}">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>jsGrid</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">jsGrid</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">jsGrid</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="jsGrid1"></div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- ./wrapper -->
<th:block layout:fragment="page_script" th:class="page_script">
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jsGrid -->
    <script src="/plugins/jsgrid/demos/db.js"></script>
    <script src="/plugins/jsgrid/jsgrid.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <script src="/dist/js/pages/keyword/keyword.js"></script>
    <!-- Page specific script -->
    <script>
        $(async function () {
            const promise = await keyword.list.search();
            $("#jsGrid1").jsGrid({
                height: "100%",
                width: "100%",
                sorting: true,
                paging: true,
                data: promise.data,
                fields: [
                    {name: "id", type: "text", width: 150},
                    {name: "keyword", type: "text", width: 50},
                    {name: "useYn", type: "checkbox", title: "useYn", width: 200}
                ]
            });
        });
    </script>
</th:block>
</html>
