<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="hold-transition sidebar-mini" >
<div class="wrapper">
    <!-- Navbar -->
    <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:replace="layout/sidebar :: sidebarFragment"></th:block>
    <!-- /Main Sidebar Container -->

    <!--    aside -->
    <th:block th:replace="fragments/aside :: asideFragment"></th:block>
    <!-- /aside -->

    <!-- Content Wrapper. Contains page content -->
    <th:block layout:fragment="content"></th:block>
    <!-- /.content-wrapper -->

    <!--    foot-->
    <th:block th:replace="fragments/foot :: footFragment"></th:block>
    <!--    /foot-->
</div>
<!-- ./wrapper -->
</body>
</html>













